# Ch04. 전략 구현하기

In [2]:
import pandas as pd

fs_path = r'재무데이터.xlsx'
# pd.read_excel(fs_path) # 이렇게 읽으면 처음에 Unnamed:0 부터 시작하게되어 책 코드대로 동작하지 않음
pd.read_excel(fs_path, index_col=0)

,2012/02,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,2013/02,Unnamed: 9,Unnamed: 10,...,Unnamed: 243,Unnamed: 244,Unnamed: 245,2020/03,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252
NaN,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익,매출액,부채,...,영업활동으로인한현금흐름,자본,자산,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A060310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-11,226,163,5,12,334,497
A095570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20,3167,14347,120,-175,3335,17682
A068400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,72,2086,14291,192,-850,3499,17790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A010240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,29,282,339,38,23,691,1030
A189980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-4,115,254,0,-30,626,880
A003280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-25,262,3767,-69,-158,286,4052
A037440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,426,1052,4,-27,541,1593
A238490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# 엑셀로 저장했다가 다시 데이터프레임으로 불러오면서 이중갈럼이 깨지는 현상

raw_data = pd.read_excel(fs_path, index_col=0)
big_col = list(raw_data.columns) # 데이터프레임의 칼럼
small_col = list(raw_data.iloc[0]) # 데이터프레임의 첫번째 행

In [3]:
big_col
# small_col

['2012/02',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 '2013/02',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 '2014/02',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 '2014/08',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28',
 '2015/02',
 'Unnamed: 30',
 'Unnamed: 31',
 'Unnamed: 32',
 'Unnamed: 33',
 'Unnamed: 34',
 'Unnamed: 35',
 '2015/12',
 'Unnamed: 37',
 'Unnamed: 38',
 'Unnamed: 39',
 'Unnamed: 40',
 'Unnamed: 41',
 'Unnamed: 42',
 '2016/02',
 'Unnamed: 44',
 'Unnamed: 45',
 'Unnamed: 46',
 'Unnamed: 47',
 'Unnamed: 48',
 'Unnamed: 49',
 '2016/11',
 'Unnamed: 51',
 'Unnamed: 52',
 'Unnamed: 53',
 'Unnamed: 54',
 'Unnamed: 55',
 'Unnamed: 56',
 '2016/12',
 'Unnamed: 58',
 'Unnamed: 59',
 'Unnamed: 60',
 'Unnamed: 61',
 'Unnamed: 62',
 'Unnamed: 63',
 '2017/02',
 'Unnamed: 65',
 'Unnamed: 66',
 'Unnamed: 67',
 'Unnamed: 68',
 'Unnamed: 69',
 'Unnamed: 70',
 '2017/03',
 'Unnamed: 72',
 'Unnamed: 73',
 'Unnamed: 74',
 'Unnamed: 75',
 'Unnamed: 76',
 'Unnamed: 77',
 '2017/06',
 'Unnamed: 79',
 'Unnamed: 80',
 'Unnamed: 81',
 'Unnamed: 82',
 'Unnamed: 83',
 'Unnamed: 84',
 '2017/08',
 'Unnamed: 86',
 'Unnamed: 87',
 'Unnamed: 88',
 'Unnamed: 89',
 'Unnamed: 90',
 'Unnamed: 91',
 '2017/09',
 'Unnamed: 93',
 'Unnamed: 94',
 'Unnamed: 95',
 'Unnamed: 96',
 'Unnamed: 97',
 'Unnamed: 98',
 '2017/10',
 'Unnamed: 100',
 'Unnamed: 101',
 'Unnamed: 102',
 'Unnamed: 103',
 'Unnamed: 104',
 'Unnamed: 105',
 '2017/11',
 'Unnamed: 107',
 'Unnamed: 108',
 'Unnamed: 109',
 'Unnamed: 110',
 'Unnamed: 111',
 'Unnamed: 112',
 '2017/12',
 'Unnamed: 114',
 'Unnamed: 115',
 'Unnamed: 116',
 'Unnamed: 117',
 'Unnamed: 118',
 'Unnamed: 119',
 '2018/02',
 'Unnamed: 121',
 'Unnamed: 122',
 'Unnamed: 123',
 'Unnamed: 124',
 'Unnamed: 125',
 'Unnamed: 126',
 '2018/03',
 'Unnamed: 128',
 'Unnamed: 129',
 'Unnamed: 130',
 'Unnamed: 131',
 'Unnamed: 132',
 'Unnamed: 133',
 '2018/04',
 'Unnamed: 135',
 'Unnamed: 136',
 'Unnamed: 137',
 'Unnamed: 138',
 'Unnamed: 139',
 'Unnamed: 140',
 '2018/06',
 'Unnamed: 142',
 'Unnamed: 143',
 'Unnamed: 144',
 'Unnamed: 145',
 'Unnamed: 146',
 'Unnamed: 147',
 '2018/08',
 'Unnamed: 149',
 'Unnamed: 150',
 'Unnamed: 151',
 'Unnamed: 152',
 'Unnamed: 153',
 'Unnamed: 154',
 '2018/09',
 'Unnamed: 156',
 'Unnamed: 157',
 'Unnamed: 158',
 'Unnamed: 159',
 'Unnamed: 160',
 'Unnamed: 161',
 '2018/10',
 'Unnamed: 163',
 'Unnamed: 164',
 'Unnamed: 165',
 'Unnamed: 166',
 'Unnamed: 167',
 'Unnamed: 168',
 '2018/11',
 'Unnamed: 170',
 'Unnamed: 171',
 'Unnamed: 172',
 'Unnamed: 173',
 'Unnamed: 174',
 'Unnamed: 175',
 '2018/12',
 'Unnamed: 177',
 'Unnamed: 178',
 'Unnamed: 179',
 'Unnamed: 180',
 'Unnamed: 181',
 'Unnamed: 182',
 '2019/01',
 'Unnamed: 184',
 'Unnamed: 185',
 'Unnamed: 186',
 'Unnamed: 187',
 'Unnamed: 188',
 'Unnamed: 189',
 '2019/02',
 'Unnamed: 191',
 'Unnamed: 192',
 'Unnamed: 193',
 'Unnamed: 194',
 'Unnamed: 195',
 'Unnamed: 196',
 '2019/03',
 'Unnamed: 198',
 'Unnamed: 199',
 'Unnamed: 200',
 'Unnamed: 201',
 'Unnamed: 202',
 'Unnamed: 203',
 '2019/06',
 'Unnamed: 205',
 'Unnamed: 206',
 'Unnamed: 207',
 'Unnamed: 208',
 'Unnamed: 209',
 'Unnamed: 210',
 '2019/08',
 'Unnamed: 212',
 'Unnamed: 213',
 'Unnamed: 214',
 'Unnamed: 215',
 'Unnamed: 216',
 'Unnamed: 217',
 '2019/09',
 'Unnamed: 219',
 'Unnamed: 220',
 'Unnamed: 221',
 'Unnamed: 222',
 'Unnamed: 223',
 'Unnamed: 224',
 '2019/11',
 'Unnamed: 226',
 'Unnamed: 227',
 'Unnamed: 228',
 'Unnamed: 229',
 'Unnamed: 230',
 'Unnamed: 231',
 '2019/12',
 'Unnamed: 233',
 'Unnamed: 234',
 'Unnamed: 235',
 'Unnamed: 236',
 'Unnamed: 237',
 'Unnamed: 238',
 '2020/02',
 'Unnamed: 240',
 'Unnamed: 241',
 'Unnamed: 242',
 'Unnamed: 243',
 'Unnamed: 244',
 'Unnamed: 245',
 '2020/03',
 'Unnamed: 247',
 'Unnamed: 248',
 'Unnamed: 249',
 'Unnamed: 250',
 'Unnamed: 251',
 'Unnamed: 252']

In [4]:
# big_col 리스트 개선하기
new_big_col = []
for num, col in enumerate(big_col):
    if 'Unnamed' in col:
        new_big_col.append(new_big_col[num-1])
    else:
        new_big_col.append(big_col[num])
new_big_col

['2012/02',
 '2012/02',
 '2012/02',
 '2012/02',
 '2012/02',
 '2012/02',
 '2012/02',
 '2013/02',
 '2013/02',
 '2013/02',
 '2013/02',
 '2013/02',
 '2013/02',
 '2013/02',
 '2014/02',
 '2014/02',
 '2014/02',
 '2014/02',
 '2014/02',
 '2014/02',
 '2014/02',
 '2014/08',
 '2014/08',
 '2014/08',
 '2014/08',
 '2014/08',
 '2014/08',
 '2014/08',
 '2015/02',
 '2015/02',
 '2015/02',
 '2015/02',
 '2015/02',
 '2015/02',
 '2015/02',
 '2015/12',
 '2015/12',
 '2015/12',
 '2015/12',
 '2015/12',
 '2015/12',
 '2015/12',
 '2016/02',
 '2016/02',
 '2016/02',
 '2016/02',
 '2016/02',
 '2016/02',
 '2016/02',
 '2016/11',
 '2016/11',
 '2016/11',
 '2016/11',
 '2016/11',
 '2016/11',
 '2016/11',
 '2016/12',
 '2016/12',
 '2016/12',
 '2016/12',
 '2016/12',
 '2016/12',
 '2016/12',
 '2017/02',
 '2017/02',
 '2017/02',
 '2017/02',
 '2017/02',
 '2017/02',
 '2017/02',
 '2017/03',
 '2017/03',
 '2017/03',
 '2017/03',
 '2017/03',
 '2017/03',
 '2017/03',
 '2017/06',
 '2017/06',
 '2017/06',
 '2017/06',
 '2017/06',
 '2017/06',
 '2017/06',
 '2017/08',
 '2017/08',
 '2017/08',
 '2017/08',
 '2017/08',
 '2017/08',
 '2017/08',
 '2017/09',
 '2017/09',
 '2017/09',
 '2017/09',
 '2017/09',
 '2017/09',
 '2017/09',
 '2017/10',
 '2017/10',
 '2017/10',
 '2017/10',
 '2017/10',
 '2017/10',
 '2017/10',
 '2017/11',
 '2017/11',
 '2017/11',
 '2017/11',
 '2017/11',
 '2017/11',
 '2017/11',
 '2017/12',
 '2017/12',
 '2017/12',
 '2017/12',
 '2017/12',
 '2017/12',
 '2017/12',
 '2018/02',
 '2018/02',
 '2018/02',
 '2018/02',
 '2018/02',
 '2018/02',
 '2018/02',
 '2018/03',
 '2018/03',
 '2018/03',
 '2018/03',
 '2018/03',
 '2018/03',
 '2018/03',
 '2018/04',
 '2018/04',
 '2018/04',
 '2018/04',
 '2018/04',
 '2018/04',
 '2018/04',
 '2018/06',
 '2018/06',
 '2018/06',
 '2018/06',
 '2018/06',
 '2018/06',
 '2018/06',
 '2018/08',
 '2018/08',
 '2018/08',
 '2018/08',
 '2018/08',
 '2018/08',
 '2018/08',
 '2018/09',
 '2018/09',
 '2018/09',
 '2018/09',
 '2018/09',
 '2018/09',
 '2018/09',
 '2018/10',
 '2018/10',
 '2018/10',
 '2018/10',
 '2018/10',
 '2018/10',
 '2018/10',
 '2018/11',
 '2018/11',
 '2018/11',
 '2018/11',
 '2018/11',
 '2018/11',
 '2018/11',
 '2018/12',
 '2018/12',
 '2018/12',
 '2018/12',
 '2018/12',
 '2018/12',
 '2018/12',
 '2019/01',
 '2019/01',
 '2019/01',
 '2019/01',
 '2019/01',
 '2019/01',
 '2019/01',
 '2019/02',
 '2019/02',
 '2019/02',
 '2019/02',
 '2019/02',
 '2019/02',
 '2019/02',
 '2019/03',
 '2019/03',
 '2019/03',
 '2019/03',
 '2019/03',
 '2019/03',
 '2019/03',
 '2019/06',
 '2019/06',
 '2019/06',
 '2019/06',
 '2019/06',
 '2019/06',
 '2019/06',
 '2019/08',
 '2019/08',
 '2019/08',
 '2019/08',
 '2019/08',
 '2019/08',
 '2019/08',
 '2019/09',
 '2019/09',
 '2019/09',
 '2019/09',
 '2019/09',
 '2019/09',
 '2019/09',
 '2019/11',
 '2019/11',
 '2019/11',
 '2019/11',
 '2019/11',
 '2019/11',
 '2019/11',
 '2019/12',
 '2019/12',
 '2019/12',
 '2019/12',
 '2019/12',
 '2019/12',
 '2019/12',
 '2020/02',
 '2020/02',
 '2020/02',
 '2020/02',
 '2020/02',
 '2020/02',
 '2020/02',
 '2020/03',
 '2020/03',
 '2020/03',
 '2020/03',
 '2020/03',
 '2020/03',
 '2020/03']

In [5]:
# 다시 이중 칼럼으로 데이터프레임에 수정한 컬럼 넣기
raw_data.columns = [new_big_col, small_col]
raw_data

        2012/02                                         2013/02            \
          당기순이익  매출액   부채  영업이익  영업활동으로인한현금흐름   자본   자산   당기순이익  매출액   부채
NaN       당기순이익  매출액   부채  영업이익  영업활동으로인한현금흐름   자본   자산   당기순이익  매출액   부채
NaN         NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN
A060310     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN
A095570     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN
A068400     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN
...         ...  ...  ...   ...           ...  ...  ...     ...  ...  ...
A010240     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN
A189980     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN
A003280     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN
A037440     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN
A238490     NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN

         ...       2020/02           2020/03                                   \
         ...  영업활동으로인한현금흐름   자본   자산   당기순이익   매출액     부채  영업이익  영업활동으로인한현금흐름
NaN      ...  영업활동으로인한현금흐름   자본   자산   당기순이익   매출액     부채  영업이익  영업활동으로인한현금흐름
NaN      ...           NaN  NaN  NaN     NaN   NaN    NaN   NaN           NaN
A060310  ...           NaN  NaN  NaN     -11   226    163     5            12
A095570  ...           NaN  NaN  NaN      20  3167  14347   120          -175
A068400  ...           NaN  NaN  NaN      72  2086  14291   192          -850
...      ...           ...  ...  ...     ...   ...    ...   ...           ...
A010240  ...           NaN  NaN  NaN      29   282    339    38            23
A189980  ...           NaN  NaN  NaN      -4   115    254     0           -30
A003280  ...           NaN  NaN  NaN     -25   262   3767   -69          -158
A037440  ...           NaN  NaN  NaN       1   426   1052     4           -27
A238490  ...           NaN  NaN  NaN     NaN   NaN    NaN   NaN           NaN


           자본     자산
NaN        자본     자산
NaN       NaN    NaN
A060310   334    497
A095570  3335  17682
A068400  3499  17790
...       ...    ...
A010240   691   1030
A189980   626    880
A003280   286   4052
A037440   541   1593
A238490   NaN    NaN

[2173 rows x 252 columns]

In [6]:
# 필요 없어진 첫번째 행, 두번쨰 행을 없애버리자
fs_df = raw_data.loc[raw_data.index.dropna()]
fs_df

        2012/02                                       2013/02            ...  \
          당기순이익  매출액   부채 영업이익 영업활동으로인한현금흐름   자본   자산   당기순이익  매출액   부채  ...
A060310     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN  ...
A095570     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN  ...
A068400     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN  ...
A006840     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN  ...
A054620     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN  ...
...         ...  ...  ...  ...          ...  ...  ...     ...  ...  ...  ...
A010240     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN  ...
A189980     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN  ...
A003280     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN  ...
A037440     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN  ...
A238490     NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN  ...

             2020/02           2020/03                                         \
        영업활동으로인한현금흐름   자본   자산   당기순이익   매출액     부채  영업이익 영업활동으로인한현금흐름     자본
A060310          NaN  NaN  NaN     -11   226    163     5           12    334
A095570          NaN  NaN  NaN      20  3167  14347   120         -175   3335
A068400          NaN  NaN  NaN      72  2086  14291   192         -850   3499
A006840          NaN  NaN  NaN    -842  7939  28571  -346        -2252  13095
A054620          NaN  NaN  NaN      -6    52    820   -24            0   2142
...              ...  ...  ...     ...   ...    ...   ...          ...    ...
A010240          NaN  NaN  NaN      29   282    339    38           23    691
A189980          NaN  NaN  NaN      -4   115    254     0          -30    626
A003280          NaN  NaN  NaN     -25   262   3767   -69         -158    286
A037440          NaN  NaN  NaN       1   426   1052     4          -27    541
A238490          NaN  NaN  NaN     NaN   NaN    NaN   NaN          NaN    NaN


            자산
A060310    497
A095570  17682
A068400  17790
A006840  41665
A054620   2962
...        ...
A010240   1030
A189980    880
A003280   4052
A037440   1593
A238490    NaN

[2171 rows x 252 columns]

In [7]:
# 위 코드를 함수로 정리하자
def get_finance_data(path):
    data_path = path
    raw_data = pd.read_excel(data_path, index_col=0)
    big_col = list(raw_data.columns)
    small_col = list(raw_data.iloc[0])

    new_big_col = []
    for num, col in enumerate(big_col):
        if 'Unnamed' in col:
            new_big_col.append(new_big_col[num-1])
        else:
            new_big_col.append(big_col[num])

    raw_data.columns = [new_big_col, small_col]
    clean_df = raw_data.loc[ raw_data.index.dropna() ]

    return clean_df

In [8]:
#  [코드 4.7] 재무 데이터 전처리하는 함수 (CH4. 전략 구현하기.ipynb)

fs_path = r'재무데이터.xlsx'
fs_df = get_finance_data(fs_path)
fr_path = r'재무비율데이터.xlsx'
fr_df = get_finance_data(fr_path)
invest_path = r'투자지표데이터.xlsx'
invest_df = get_finance_data(invest_path)

In [9]:
# fs_df
# fr_df
invest_df

        2011/02                      2012/02                       ...  \
            PBR  PCR  PER  PSR 총현금흐름     PBR  PCR  PER  PSR 총현금흐름  ...
A086220     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A033640     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A087730     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A005720     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A002350     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
...         ...  ...  ...  ...   ...     ...  ...  ...  ...   ...  ...
A010240     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A189980     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A003280     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A037440     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A238490     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...

        2020/02                      2020/03
            PBR  PCR  PER  PSR 총현금흐름     PBR  PCR  PER  PSR 총현금흐름
A086220     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN
A033640     NaN  NaN  NaN  NaN   NaN    3.27  NaN  NaN  NaN   192
A087730     NaN  NaN  NaN  NaN   NaN    5.85  NaN  NaN  NaN   -13
A005720     NaN  NaN  NaN  NaN   NaN    0.20  NaN  NaN  NaN   704
A002350     NaN  NaN  NaN  NaN   NaN    0.31  NaN  NaN  NaN   624
...         ...  ...  ...  ...   ...     ...  ...  ...  ...   ...
A010240     NaN  NaN  NaN  NaN   NaN    0.50  NaN  NaN  NaN    36
A189980     NaN  NaN  NaN  NaN   NaN    0.54  NaN  NaN  NaN    12
A003280     NaN  NaN  NaN  NaN   NaN    1.01  NaN  NaN  NaN   -34
A037440     NaN  NaN  NaN  NaN   NaN    0.81  NaN  NaN  NaN     2
A238490     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN

[1881 rows x 200 columns]

## 4.3 저 PER, 고 ROA

In [10]:
# 해당지표가 상대적으로 작은 주식을 찾고 싶거나 큰 주식을 찾고 싶다면 sort_values() 함수 사용
invest_df.sort_values(by=('2016/12', 'PER')) # 이중 데이터 칼럼이기 때문에 칼럼을 괄호로 묶어서 정렬

# 위와 같은 방식으로 할 경우, 데이터 값들이 숫자와 문자가 섞여있어 에러가 발생할 수 있다는데 아래처러 정상 동작함
# TypeError: '<' not supported between instances of 'float' and 'str'

        2011/02                      2012/02                       ...  \
            PBR  PCR  PER  PSR 총현금흐름     PBR  PCR  PER  PSR 총현금흐름  ...
A001470     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A064520     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A084110     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A032940     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A017650     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
...         ...  ...  ...  ...   ...     ...  ...  ...  ...   ...  ...
A028080     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A212310     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A005010     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A003280     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A238490     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...

        2020/02                      2020/03
            PBR  PCR  PER  PSR 총현금흐름     PBR  PCR  PER  PSR 총현금흐름
A001470     NaN  NaN  NaN  NaN   NaN    0.33  NaN  NaN  NaN    10
A064520     NaN  NaN  NaN  NaN   NaN    1.35  NaN  NaN  NaN    -6
A084110     NaN  NaN  NaN  NaN   NaN    0.76  NaN  NaN  NaN   203
A032940     NaN  NaN  NaN  NaN   NaN    0.61  NaN  NaN  NaN    22
A017650     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN
...         ...  ...  ...  ...   ...     ...  ...  ...  ...   ...
A028080     NaN  NaN  NaN  NaN   NaN    0.18  NaN  NaN  NaN   -50
A212310     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN
A005010     NaN  NaN  NaN  NaN   NaN    0.11  NaN  NaN  NaN    34
A003280     NaN  NaN  NaN  NaN   NaN    1.01  NaN  NaN  NaN   -34
A238490     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN

[1881 rows x 200 columns]

In [11]:
# 따라서 숫자로 바꿔준 뒤 다시 정렬하기
invest_df[('2016/12', 'PER')] = pd.to_numeric(invest_df[('2016/12', 'PER')]) # 열 전체를 숫자로 바꿔줌
per_sorted = invest_df.sort_values(by=('2016/12', 'PER'))
per_sorted # 2016/12 PER 기준으로 인덱스가 아래 바뀌어 정렬됨

        2011/02                      2012/02                       ...  \
            PBR  PCR  PER  PSR 총현금흐름     PBR  PCR  PER  PSR 총현금흐름  ...
A001470     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A064520     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A084110     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A032940     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A017650     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
...         ...  ...  ...  ...   ...     ...  ...  ...  ...   ...  ...
A028080     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A212310     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A005010     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A003280     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A238490     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...

        2020/02                      2020/03
            PBR  PCR  PER  PSR 총현금흐름     PBR  PCR  PER  PSR 총현금흐름
A001470     NaN  NaN  NaN  NaN   NaN    0.33  NaN  NaN  NaN    10
A064520     NaN  NaN  NaN  NaN   NaN    1.35  NaN  NaN  NaN    -6
A084110     NaN  NaN  NaN  NaN   NaN    0.76  NaN  NaN  NaN   203
A032940     NaN  NaN  NaN  NaN   NaN    0.61  NaN  NaN  NaN    22
A017650     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN
...         ...  ...  ...  ...   ...     ...  ...  ...  ...   ...
A028080     NaN  NaN  NaN  NaN   NaN    0.18  NaN  NaN  NaN   -50
A212310     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN
A005010     NaN  NaN  NaN  NaN   NaN    0.11  NaN  NaN  NaN    34
A003280     NaN  NaN  NaN  NaN   NaN    1.01  NaN  NaN  NaN   -34
A238490     NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN

[1881 rows x 200 columns]

In [12]:
per_sorted['2016/12']

          PBR    PCR   PER    PSR 총현금흐름
A001470  0.24   0.11  0.11   0.07  -331
A064520  0.00   0.04  0.17   0.00    79
A084110  1.05   0.61  0.62   1.95   297
A032940  0.58   0.84  0.86   1.11    38
A017650  0.17   0.83  0.98   0.25    91
...       ...    ...   ...    ...   ...
A028080  0.42    NaN   NaN  15.65    45
A212310  0.30    NaN   NaN   0.27    -5
A005010  0.28   9.06   NaN   0.29   134
A003280  0.81  15.80   NaN   0.15   313
A238490   NaN    NaN   NaN    NaN    62

[1881 rows x 5 columns]

In [13]:
fr_df[('2016/12', 'ROA')] = pd.to_numeric(fr_df[('2016/12', 'ROA')])
# 문자열 N/A(IFRS) 은 숫자로 바꿀 수 없어 아래와 같은 에러 발생

ValueError: Unable to parse string "N/A(IFRS)" at position 221

In [14]:
# apply 함수를 통해 N/A(IFRS) 값이 있는 것들을 다른 값으로 일일이 변경해야 한다. 여기서는 NaN으로 변경
import numpy as np

def check_IFRS(x):
    if x == 'N/A(IFRS)':
        return np.NaN
    else:
        return x
    
fr_df[('2016/12', 'ROA')] = fr_df[('2016/12', 'ROA')].apply(check_IFRS)

In [15]:
# 다시 to_numeric 함수 적용 후 내림차순 정열
fr_df[('2016/12', 'ROA')] = pd.to_numeric(fr_df[('2016/12', 'ROA')])
sorted_roa = fr_df.sort_values(by=('2016/12', 'ROA'), ascending=False)
sorted_roa['2016/12']

           ROA   ROIC  부채비율 영업이익률   유동비율
A084110  120.8    8.2  22.7  17.7  244.2
A299670   98.8  511.8  94.6  35.5  204.6
A089970   89.4  182.6  78.5  24.8  154.3
A225570   69.7  230.0  32.0  40.3  560.5
A000230   58.5   -1.5  91.0  -9.2  162.5
...        ...    ...   ...   ...    ...
A298050    NaN    NaN   NaN   NaN    NaN
A298020    NaN    NaN   NaN   NaN    NaN
A298000    NaN    NaN   NaN   NaN    NaN
A290270    NaN    NaN  80.4  14.4  253.1
A243070    NaN    NaN  87.3  12.7  146.9

[2159 rows x 5 columns]

In [16]:
#  [코드 4.14] PER기준으로 오름차순으로 정렬하여 주는 함수 (CH4. 전략 구현하기.ipynb)

def low_per(invest_df, index_date, num): # 투자지표 데이터프레임, 기준 날짜, 반환할 주식의 개수
    invest_df[(index_date, 'PER')] = pd.to_numeric(invest_df[(index_date, 'PER')])
    per_sorted = invest_df.sort_values(by=(index_date, 'PER'))
    return per_sorted[index_date][:num]

low_per(invest_df, '2017/12', 10)

          PBR   PCR   PER    PSR 총현금흐름
A002620  0.75  0.60  0.61   6.54    78
A088390  0.76  0.61  0.64   2.47   -47
A001800  0.90  0.72  0.76   9.98   919
A100090  0.55  0.82  0.92   0.72  -133
A128820  0.39  0.95  1.02   0.26    37
A102280  0.50  1.02  1.04   1.37  -126
A005740  0.81  0.91  1.09   0.19   674
A078070  0.61  1.19  1.21  15.06    28
A042660  0.44  1.50  1.86   0.10  5505
A005960  0.70  2.13  2.21   0.30   257

In [17]:
def high_roa(fr_df, index_date, num):
    fr_df[(index_date, 'ROA')] = fr_df[(index_date, 'ROA')].apply(check_IFRS)
    fr_df[(index_date, 'ROA')] = pd.to_numeric(fr_df[(index_date, 'ROA')] )
    sorted_roa = fr_df.sort_values(by=(index_date, 'ROA'), ascending=False)
    return sorted_roa[index_date][:num]

high_roa(fr_df, '2017/12', 10)

           ROA   ROIC    부채비율  영업이익률   유동비율
A027410  252.0   18.2    18.3    8.8  492.2
A054620  168.0   -0.2    26.5   -0.4  388.9
A002620  141.5    4.2    18.1    9.1  250.7
A071970   92.3    0.3   411.4    0.2   70.8
A299910   79.1  854.7  1033.9   21.7   94.4
A192400   75.1   29.3    36.8   14.4  202.4
A088390   58.4   -9.9    41.7  -33.3  175.2
A290720   54.7  170.7    35.7   12.4  294.8
A121800   51.2  -21.3    17.0  -26.9  365.6
A011810   50.1   14.4  1374.5    2.4   85.9

## 4.4 마법공식 (다른 버전)

In [18]:
date = '2017/12'
per = low_per(invest_df,date, None)
roa = high_roa(fr_df, date, None)

In [19]:
# 저 PER와 고 ROA 를 동시에 만족하는 종목을 선택하기 위해 rank 함수로 상대 순위를 계산한다

per['per순위'] = per['PER'].rank()
# per
roa['roa순위'] = roa['ROA'].rank(ascending=False)
# roa
(per['per순위'] + roa['roa순위']).sort_values() # 판다스가 인덱스끼리 알아서 데이터를 계산함
# 합산 등수의 절대값으로 순위를 매겼기 때문에 같은 등수가 나옴 A078070, A192400

A002620     4.0
A088390     9.0
A078070    20.0
A192400    20.0
A001800    21.0
           ...
A950110     NaN
A950130     NaN
A950140     NaN
A950160     NaN
A950170     NaN
Length: 2171, dtype: float64

In [20]:
(per['per순위'] + roa['roa순위']).rank().sort_values() # 상대 등수로 살펴보자

A002620    1.0
A088390    2.0
A078070    3.5
A192400    3.5
A001800    5.0
          ...
A950110    NaN
A950130    NaN
A950140    NaN
A950160    NaN
A950170    NaN
Length: 2171, dtype: float64

In [21]:
# 두 데이터프레임을 합치고 종합 순위 만들기 (CH4. 전략 구현하기.ipynb)

magic = pd.merge(per, roa, how='outer', left_index=True, right_index=True)
magic['마법공식 순위'] = (magic['per순위'] + magic['roa순위']).rank().sort_values()
magic = magic.sort_values(by='마법공식 순위')

In [22]:
# 마법공식을 함수로 정리
def magic_formula(fr_df, invest_df, index_date, num):
    per = low_per(invest_df, index_date, None)
    roa = high_roa(fr_df, index_date, None)
    per['per순위'] = per['PER'].rank()
    roa['roa순위'] = roa['ROA'].rank(ascending=False)
    magic = pd.merge(per, roa, how='outer', left_index=True, right_index=True)
    magic['마법공식 순위'] = (magic['per순위'] + magic['roa순위']).rank().sort_values()
    magic = magic.sort_values(by='마법공식 순위')
    return magic[:num]

In [23]:
magic_formula(fr_df, invest_df, '2017/12', 10)

,PBR,PCR,PER,PSR,총현금흐름,per순위,ROA,ROIC,부채비율,영업이익률,유동비율,roa순위,마법공식 순위
A002620,0.75,0.60,0.61,6.54,78,1.0,141.5,4.2,18.1,9.1,250.7,3.0,1.0
A088390,0.76,0.61,0.64,2.47,-47,2.0,58.4,-9.9,41.7,-33.3,175.2,7.0,2.0
A078070,0.61,1.19,1.21,15.06,28,8.0,47.0,3.6,3.4,20.2,2614.9,12.0,3.5
A192400,1.67,2.46,2.69,2.67,884,14.0,75.1,29.3,36.8,14.4,202.4,6.0,3.5
A001800,0.90,0.72,0.76,9.98,919,3.0,41.2,0.2,38.0,4.4,118.7,18.0,5.0
A148780,1.52,2.51,2.66,0.50,37,13.0,45.8,184.3,61.2,18.6,226.4,14.0,6.0
A102280,0.50,1.02,1.04,1.37,-126,6.0,33.9,-21.7,106.7,-19.7,203.5,27.0,7.0
A069920,1.25,2.67,2.80,2.59,6,16.0,36.3,-8.7,28.3,-3.8,291.1,21.0,8.0
A090470,2.02,3.43,3.52,0.46,788,23.5,45.0,191.5,41.0,17.6,195.9,15.5,9.0
A100090,0.55,0.82,0.92,0.72,-133,4.0,25.0,-7.9,112.7,-17.0,38.0,43.5,10.0

## 4.5 저평가된 주식들

In [24]:
# 저평가 지수를 기준으로 정렬하여 순위 만들어주는 함수
def get_value_rank(invest_df, value_type, index_date, num):
    invest_df[(index_date, value_type)] = pd.to_numeric(invest_df[(index_date, value_type)])
    value_sorted = invest_df.sort_values(by=(index_date, value_type))[index_date]
    value_sorted[value_type + '순위'] = value_sorted[value_type].rank()
    return value_sorted[[value_type, value_type + '순위']][:num]

get_value_rank(invest_df, 'PSR', '2017/12', 20)

          PSR  PSR순위
A064520  0.00    1.0
A016380  0.02    2.0
A037400  0.03    3.0
A082850  0.04    5.0
A038110  0.04    5.0
A024900  0.04    5.0
A009620  0.06   10.5
A001620  0.06   10.5
A123040  0.06   10.5
A003070  0.06   10.5
A011760  0.06   10.5
A007860  0.06   10.5
A267810  0.06   10.5
A001020  0.06   10.5
A122690  0.07   16.0
A012170  0.07   16.0
A035080  0.07   16.0
A017650  0.08   19.5
A010100  0.08   19.5
A012860  0.08   19.5

In [25]:
#저PER과 저PBR 조합
date = '2017/12'
per = get_value_rank(invest_df, 'PER', date, None)
pbr = get_value_rank(invest_df, 'PBR', date, None)
value_combo = pd.merge(per, pbr, how='outer', left_index=True, right_index=True)
value_combo['종합순위'] = (value_combo['PER순위'] + value_combo['PBR순위']).rank()
value_combo = value_combo.sort_values(by='종합순위')
value_combo[:20]

          PER  PER순위   PBR  PBR순위  종합순위
A017650  2.77   15.0  0.07    3.0   1.0
A009200  3.82   28.0  0.25    6.5   2.0
A101930  4.05   32.5  0.29   15.5   3.0
A128820  1.02    5.0  0.39   59.0   4.0
A058650  4.52   47.5  0.33   31.0   5.0
A900080  5.41   77.0  0.28   12.0   6.0
A042660  1.86    9.0  0.44   88.0   7.0
A071090  5.35   73.0  0.33   31.0   8.0
A043370  2.96   17.5  0.44   88.0   9.0
A002220  5.59   85.5  0.33   31.0  10.0
A016710  6.06  100.0  0.32   26.0  11.0
A001810  6.11  102.5  0.33   31.0  12.0
A002030  5.73   92.0  0.37   48.0  13.0
A001130  5.51   82.0  0.39   59.0  14.0
A002170  4.95   56.5  0.45   96.0  15.0
A102280  1.04    6.0  0.50  153.0  16.0
A025530  4.68   51.0  0.47  114.5  17.0
A023410  4.39   43.5  0.48  126.0  18.0
A012620  6.04   99.0  0.42   75.0  19.0
A009540  2.55   11.0  0.51  163.5  20.0

In [26]:
# 저평가 지표 조합 함수
def make_value_combo(value_list, invest_df, index_date, num):
    for i, value in enumerate(value_list):
        temp_df = get_value_rank(invest_df, value, index_date, None)
        if i == 0:
            value_combo_df = temp_df
            rank_combo = temp_df[value+'순위']
        else:
            value_combo_df = pd.merge(value_combo_df, temp_df, how='outer', left_index=True, right_index=True)
            rank_combo = rank_combo + temp_df[value+'순위']
    
    value_combo_df['종합순위'] = rank_combo.rank()
    value_combo_df = value_combo_df.sort_values(by='종합순위')
    
    return value_combo_df[:num]

make_value_combo(['PER', 'PBR', 'PSR', 'PCR'], invest_df, '2017/12', 20)

           PER  PER순위   PBR  PBR순위   PSR  PSR순위   PCR  PCR순위  종합순위
A017650   2.77   15.0  0.07    3.0  0.08   19.5  1.10   11.0   1.0
A009200   3.82   28.0  0.25    6.5  0.10   31.0  1.01    8.0   2.0
A042660   1.86    9.0  0.44   88.0  0.10   31.0  1.50   21.0   3.0
A058650   4.52   47.5  0.33   31.0  0.13   55.5  1.78   28.5   4.0
A016710   6.06  100.0  0.32   26.0  0.14   66.0  2.32   43.0   5.0
A043370   2.96   17.5  0.44   88.0  0.21  143.5  1.68   26.0   6.0
A128820   1.02    5.0  0.39   59.0  0.26  211.0  0.95    6.0   7.0
A014790   4.10   36.0  0.49  141.0  0.12   48.0  3.36   89.0   8.0
A002030   5.73   92.0  0.37   48.0  0.21  143.5  2.51   49.5   9.5
A007280   3.29   19.0  0.62  250.5  0.11   41.0  1.52   22.5   9.5
A071090   5.35   73.0  0.33   31.0  0.21  143.5  3.40   93.5  11.0
A006200   8.55  210.5  0.30   20.5  0.15   76.5  2.14   34.0  12.0
A013310   6.25  110.0  0.48  126.0  0.16   88.0  1.47   20.0  13.0
A200880   7.95  183.0  0.41   71.0  0.14   66.0  2.48   47.0  14.0
A034300   3.62   26.0  0.66  298.0  0.10   31.0  2.83   59.0  15.0
A092780   4.52   47.5  0.64  277.0  0.14   66.0  1.78   28.5  16.0
A024880   5.65   90.0  0.51  163.5  0.20  131.5  2.91   62.0  17.0
A079660   5.57   84.0  0.53  177.5  0.12   48.0  4.22  164.0  18.0
A015750  11.74  365.0  0.39   59.0  0.11   41.0  1.42   19.0  19.0
A004090   6.50  119.0  0.43   80.0  0.15   76.5  4.80  219.0  20.0

## 4.6 F-Score

In [27]:
"""
F-Score 는 우량 기업을 찾는 대표적 방법. 조건을 충족하면 1, 아니면 0점을 주어서 총 점수를 계산한다.

당기순이익이 0 이상인가
영업현금흐름이 0 이상인가
ROA가 전년대비 증가했는가
영업현금흐름이 순이익보다 높은가
부채비율이 전년 대비 감소했는가
유동비율이 전년 대비 증가했는가
당해 신규주식 발행을 하지 않았는가
매출총이익이 전년 대비 증가했는가
자산회전율이 전년 대비 증가했는가
"""
# 당기순이익 체크
date = '2017/12'
fs_df[date]['당기순이익'] > 0

A060310    False
A095570     True
A068400     True
A006840     True
A054620     True
           ...
A010240     True
A189980     True
A003280    False
A037440     True
A238490     True
Name: 당기순이익, Length: 2171, dtype: bool

In [28]:
# 당기순이익 체크
date = '2017/12'
fscore_df = fs_df[date]
fscore_df['당기순이익점수'] = fscore_df['당기순이익'] > 0
fscore_df['영업활동점수'] = fscore_df['영업활동으로인한현금흐름'] > 0
fscore_df['더큰영업활동점수'] = fscore_df['영업활동으로인한현금흐름'] > fscore_df['당기순이익']
fscore_df

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익점수,영업활동점수,더큰영업활동점수
A060310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
A095570,206,8439,19071,224,-1485,4472,23542,True,False,False
A068400,94,6368,9702,380,-496,2419,12122,True,False,False
A006840,1854,33925,17927,2656,2809,11521,29448,True,True,True
A054620,6701,805,485,-3,148,1833,2318,True,True,False
...,...,...,...,...,...,...,...,...,...,...
A010240,70,916,228,88,29,553,780,True,True,False
A189980,26,449,128,29,56,574,702,True,True,True
A003280,-620,8364,7374,-130,-69,1360,8734,False,False,True
A037440,37,1595,830,87,85,516,1346,True,True,True
A238490,121,914,203,156,106,522,725,True,True,False

In [29]:
# 체크 칼럼들 더해서 총점 만들기
# fscore_df[['당기순이익점수', '영업활동점수', '더큰영업활동점수']]
fscore_df[['당기순이익점수', '영업활동점수', '더큰영업활동점수']].sum(axis=1) # axis=1 옵션은 각 행을 숫자로 치환해서 더한다. 안써주면 칼럼끼리 더함

A060310    0
A095570    1
A068400    1
A006840    3
A054620    2
          ..
A010240    2
A189980    3
A003280    1
A037440    3
A238490    2
Length: 2171, dtype: int64

In [30]:
# 위 결과에서 결과를 새로운 칼럼에 '종합점수' 라고 저장하고 필터링을 이용하여 종합점수 칼럼이 3인 것들만 남기면 된다.
def get_fscore(fs_df, index_date, num):
    fscore_df = fs_df[index_date]
    fscore_df['당기순이익점수'] = fscore_df['당기순이익'] > 0
    fscore_df['영업활동점수'] = fscore_df['영업활동으로인한현금흐름'] > 0
    fscore_df['더큰영업활동점수'] = fscore_df['영업활동으로인한현금흐름'] > fscore_df['당기순이익']
    fscore_df['종합점수'] = fscore_df[['당기순이익점수', '영업활동점수', '더큰영업활동점수']].sum(axis=1)
    fscore_df = fscore_df[fscore_df['종합점수'] == 3]
    return fscore_df[:num]

get_fscore(fs_df, '2017/12', 20)

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익점수,영업활동점수,더큰영업활동점수,종합점수
A006840,1854,33925,17927,2656,2809,11521,29448,True,True,True,3
A265520,191,9624,3785,262,557,895,4680,True,True,True,3
A211270,1,300,217,27,71,821,1037,True,True,True,3
A001460,62,1958,3465,172,235,3993,7458,True,True,True,3
A001040,11377,268986,173332,13260,22404,119922,293254,True,True,True,3
A079160,100,17144,16824,862,1943,7777,24601,True,True,True,3
A035760,1434,22600,13177,2245,3300,14841,28018,True,True,True,3
A000120,542,71104,35262,2357,2464,27598,62860,True,True,True,3
A011150,46,1646,602,66,156,601,1202,True,True,True,3
A097950,4128,164772,107243,7766,11808,61439,168681,True,True,True,3
A051500,12,25044,6672,439,234,2355,9026,True,True,True,3
A037560,289,11199,8810,729,2813,9871,18682,True,True,True,3
A065770,10,433,313,19,14,189,502,True,True,True,3
A000590,143,1210,330,170,169,2694,3024,True,True,True,3
A000990,1102,6797,5382,1432,1831,4558,9940,True,True,True,3
A068790,39,2687,1633,166,147,1352,2985,True,True,True,3
A004840,191,5439,2404,372,221,4371,6774,True,True,True,3
A130500,23,545,139,24,49,468,607,True,True,True,3
A078930,10919,155801,123411,20408,13065,96626,220037,True,True,True,3
A083450,158,1628,241,223,180,783,1024,True,True,True,3

## 4.7 모멘텀

In [3]:
price_path = 'book_data\\가격데이터.xlsx'
# pd.read_excel(price_path) # 이렇게 읽으면 첫 열에 숫자로 인덱스가 잡혀 다음 코드가 제대로 작동하지 않음
price_df = pd.read_excel(price_path, index_col=0)
price_df

,060310,095570,068400,006840,054620,265520,211270,027410,282330,138930,...,084110,145020,069260,024060,010240,189980,000540,003280,037440,238490
2013-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-02-20,2305.0,5050.0,11700.0,55100.0,4955.0,29450.0,6640.0,8430.0,205500.0,7270.0,...,44150.0,318000.0,22550.0,3770.0,7180.0,7530.0,4895.0,418.0,5640.0,16850.0
2019-02-21,2235.0,5200.0,11550.0,54900.0,5000.0,29050.0,6860.0,8650.0,208000.0,7190.0,...,43500.0,328000.0,22500.0,3630.0,7270.0,7530.0,4890.0,412.0,5580.0,16650.0
2019-02-22,2270.0,5120.0,11400.0,54200.0,4930.0,29000.0,6710.0,8930.0,208000.0,7180.0,...,43650.0,339200.0,22150.0,3715.0,6900.0,7480.0,4895.0,406.0,5610.0,16600.0
2019-02-25,2300.0,5020.0,11450.0,55800.0,5130.0,30500.0,6720.0,8940.0,218000.0,7220.0,...,43550.0,344300.0,22500.0,3635.0,6930.0,7430.0,4900.0,410.0,5570.0,17000.0
2019-02-26,2340.0,5060.0,11400.0,58000.0,5030.0,29850.0,6630.0,8910.0,214500.0,7170.0,...,43350.0,341500.0,22000.0,3620.0,6790.0,7410.0,4915.0,406.0,5650.0,16800.0

In [4]:
# pct_change() 함수가 인자로 들어간 숫자 기간만큼 수익률을 구해주는 함수
price_df.pct_change(periods=250) #왜 에러가 날까...

,060310,095570,068400,006840,054620,265520,211270,027410,282330,138930,...,084110,145020,069260,024060,010240,189980,000540,003280,037440,238490
2013-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-02-20,0.118932,-0.334651,0.083333,-0.302532,-0.351440,-0.036007,-0.154140,-0.424573,-0.004843,-0.290732,...,-0.223149,-0.411111,-0.062370,0.341637,0.669767,-0.194652,-0.219298,-0.444149,0.239560,-0.195704
2019-02-21,0.039535,-0.322917,0.045249,-0.312891,-0.362245,-0.067416,-0.127226,-0.415541,0.009709,-0.284577,...,-0.306707,-0.403419,-0.131274,0.282686,0.624581,-0.194652,-0.218850,-0.452855,0.223684,-0.223776
2019-02-22,0.055814,-0.319149,0.050691,-0.341434,-0.364691,-0.041322,-0.171605,-0.396622,-0.011876,-0.306280,...,-0.261684,-0.365981,-0.167293,0.346014,0.561086,-0.170732,-0.188226,-0.446112,0.230263,-0.211401
2019-02-25,0.072261,-0.351421,0.075117,-0.327711,-0.343150,0.003289,-0.178484,-0.404000,0.035629,-0.305769,...,-0.260988,-0.381867,-0.147727,0.307554,0.609756,-0.180816,-0.170897,-0.438356,0.224176,-0.198113
2019-02-26,0.088372,-0.342857,0.096154,-0.296970,-0.355128,-0.008306,-0.199275,-0.374737,0.077889,-0.300488,...,-0.252277,-0.373509,-0.152216,0.283688,0.557339,-0.178492,-0.179466,-0.437673,0.248619,-0.211268

In [33]:
def get_momentum_rank(price_df, index_date, date_range, num):
    momentum_df = pd.DataFrame(price_df.pct_change(date_range).loc[index_date])
    momentum_df.columns = ['모멘텀']
    momentum_df['모멘텀순위'] = momentum_df['모멘텀'].rank(ascending=False)
    momentum_df = momentum_df.sort_values(by='모멘텀순위')
    return momentum_df[:num]

## 4.8 밸류+퀄리티

In [34]:
# 저평가된 주식을 찾는 전략과 F-score 전략의 결과를 합쳐보자

date = '2017/12'
value = make_value_combo(['PER', 'PBR', 'PSR', 'PCR'], invest_df, date, None)
quality = get_fscore(fs_df, date, None)
# value
quality

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익점수,영업활동점수,더큰영업활동점수,종합점수
A006840,1854,33925,17927,2656,2809,11521,29448,True,True,True,3
A265520,191,9624,3785,262,557,895,4680,True,True,True,3
A211270,1,300,217,27,71,821,1037,True,True,True,3
A001460,62,1958,3465,172,235,3993,7458,True,True,True,3
A001040,11377,268986,173332,13260,22404,119922,293254,True,True,True,3
...,...,...,...,...,...,...,...,...,...,...,...
A079980,232,11983,4930,266,746,4073,9003,True,True,True,3
A065510,35,704,567,91,99,842,1409,True,True,True,3
A069260,1101,7158,2828,1526,1564,5988,8816,True,True,True,3
A189980,26,449,128,29,56,574,702,True,True,True,3
A037440,37,1595,830,87,85,516,1346,True,True,True,3

In [35]:
# 주식코드를 기준으로 두 데이터프레임을 합쳐보자
value_quality = pd.merge(value, quality, how='outer', left_index=True, right_index=True)

In [36]:
# fscore가 3점인 종목만 남기기
value_quality_filtered = value_quality[value_quality['종합점수'] == 3]

# 저평가 순위로 다시 정렬해서 상위 n개를 고른다
vq_df = value_quality_filtered.sort_values(by='종합순위')
vq_df  # 종합 순위 3위가 없는데 종합점수가 3점이 되지 않아 빠진것이다.

,PER,PER순위,PBR,PBR순위,PSR,PSR순위,PCR,PCR순위,종합순위,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익점수,영업활동점수,더큰영업활동점수,종합점수
A017650,2.77,15.0,0.07,3.0,0.08,19.5,1.10,11.0,1.0,33,1180,1085,50,52,1302,2388,True,True,True,3.0
A009200,3.82,28.0,0.25,6.5,0.10,31.0,1.01,8.0,2.0,409,10346,12701,698,1161,6456,19157,True,True,True,3.0
A058650,4.52,47.5,0.33,31.0,0.13,55.5,1.78,28.5,4.0,2111,47944,22088,2746,2647,30460,52548,True,True,True,3.0
A016710,6.06,100.0,0.32,26.0,0.14,66.0,2.32,43.0,5.0,322,9031,5851,245,634,5211,11062,True,True,True,3.0
A014790,4.10,36.0,0.49,141.0,0.12,48.0,3.36,89.0,8.0,466,16415,18215,1495,770,3926,22141,True,True,True,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A302920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,189,85,16,15,61,146,True,True,True,3.0
A307180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,186,118,20,23,-3,115,True,True,True,3.0
A308700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,142,194,17,11,50,245,True,True,True,3.0
A900070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,1047,431,38,27,916,1346,True,True,True,3.0
A900340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168,840,243,240,188,449,693,True,True,True,3.0

In [37]:
# 저평가 + Fscore 함수화
def get_value_quality(invest_df, fs_df, index_date, num):
    value = make_value_combo(['PER', 'PBR', 'PSR', 'PCR'], invest_df, index_date, None)
    quality = get_fscore(fs_df, index_date, None)
    value_quality = pd.merge(value, quality, how='outer', left_index=True, right_index=True)
    value_quality_filtered = value_quality[value_quality['종합점수'] == 3]
    vq_df = value_quality_filtered.sort_values(by='종합순위')
    return vq_df[:num]

## 4.9 파이썬 파일화

In [39]:
# 주피터 노트북에 함수들을 다른 노트에서 사용하기 어렵다. 이를 파이썬 파일로 바꾸어 어디서든 임포트 할 수 있게 하자
# 같은 디렉토리에 python_quant.py 파일로 저장

import python_quant
import pandas as pd

python_quant.make_value_combo(['PSR', 'PBR'], invest_df, '2017/12', 20)

          PSR  PSR순위   PBR  PBR순위  종합순위
A064520  0.00    1.0  0.01    1.0   1.0
A012170  0.07   16.0  0.05    2.0   2.0
A017650  0.08   19.5  0.07    3.0   3.0
A010100  0.08   19.5  0.29   15.5   4.0
A001620  0.06   10.5  0.32   26.0   5.0
A009200  0.10   31.0  0.25    6.5   6.0
A010770  0.09   23.5  0.30   20.5   7.0
A007860  0.06   10.5  0.34   35.5   8.0
A038110  0.04    5.0  0.36   43.0   9.0
A001530  0.15   76.5  0.25    6.5  10.0
A082850  0.04    5.0  0.43   80.0  11.0
A003480  0.13   55.5  0.33   31.0  12.5
A058650  0.13   55.5  0.33   31.0  12.5
A005010  0.15   76.5  0.28   12.0  14.0
A016710  0.14   66.0  0.32   26.0  15.0
A006200  0.15   76.5  0.30   20.5  16.5
A114920  0.10   31.0  0.40   66.0  16.5
A011160  0.16   88.0  0.27   10.0  18.0
A015750  0.11   41.0  0.39   59.0  19.0
A002300  0.17  100.5  0.22    5.0  20.0